.gallery-grid{
  display:grid;
  grid-template-columns:1fr;
  gap:15px;
}

.gallery-grid img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:12px;
  transition:.3s;
}

.gallery-grid img:hover{
  transform:scale(1.03);
}

/* Tablet */

@media(min-width:768px){

  .gallery-grid{
    grid-template-columns:repeat(2,1fr);
  }

}

/* Desktop */

@media(min-width:1024px){

  .gallery-grid{
    grid-template-columns:repeat(3,1fr);
  }

}