.about{
  display:grid;
  gap:40px;
  align-items:center;
}

.about img{
  border-radius:20px;
}

.about-content h2{
  margin-bottom:20px;
}

.about-content p{
  color:#555;
  margin-bottom:15px;
}

@media(min-width:900px){

  .about{
    grid-template-columns:1fr 1fr;
  }

}